.destinationPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.destination-content {
  position: relative;
  z-index: 2;
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  margin-left: 4rem;
}
.marsCanvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%; 
  height: 100%;
  z-index: 1;
}
.destinationHUD {
  position: relative;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  color: orange;
  font-family: monospace;
   width: clamp(280px, 35vw, 500px);
   height: clamp(280px, 50vh, 400px);
}
.destinationHUD .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backBtn {
  background: transparent;
  z-index: 5;
  border: 1px solid orangered;
  color: orange;
  padding: 8px 15px;
  cursor: none;
  width: fit-content;
  margin:5px;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-left: 1.5vw;
}
.backBtn:hover {
  background: orangered;
  color: black;
  box-shadow: 0 0 15px orangered;
} 
.infoCard {
  align-self: flex-start;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid orangered;
  padding: 20px;
  border-radius: 10px;
  margin-left: 1.5vw;
}
.infoCard h1 {
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.stats {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0;
}

.stats div {
  display: flex;
  justify-content: space-between;
}
.confirmBtn {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid orangered;
  border-radius: 4px;
  color: orange;
  cursor: none;
  letter-spacing: 2px;
  transition: 0.3s;
}

.confirmBtn:hover {
  background: orangered;
  color: black;
  box-shadow: 0 0 15px orangered;
}

.starCanvas {
  position: absolute !important;
  inset: 0;
  z-index: 0;
}

@media (max-width: 768px) {
  .marsCanvas {
    width: 60vw;
  }
  .floating-astronaut {
    width: 40vw;
    right: 1vw;
  }
  .destinationHUD {
    padding: 20px;
    width: 90vw;
    height: auto;
    margin: 0 auto;
    left: -2rem;
  }
  .infoCard {
    width: 30vw;
    height: auto;
    font-size: 1.5vw;
    padding: 8px;
  }
  .confirmBtn{
    width: 30vw;
    height: auto;
    font-size: 1.5vw;
    justify-content: center;
  }
  .backBtn {
    font-size: 1.5vw;
    justify-content: center;
  }
}


@media (max-width: 480px) {

  .floating-astronaut {
    width: 30vw;
    right: 0.5vw;
  }
  .destinationHUD {
    padding: 2px;
    width: 55vw;
    height: auto;
    margin: 0 auto;
    left: -4rem;
  }
  .infoCard {
    width: 27vw;
    height: auto;
    font-size: 1.5vw;
    padding: 1px;
  }
  .confirmBtn{
    width: 26vw;
    height: auto;
    padding: 1.5px;
    font-size: 1.5vw;
    justify-content: center;
    margin:2px;
  }
  .backBtn {
    font-size: 1.2vw;
    justify-content: center;
    padding:1.5px;
  }
  .stats {
    gap:4px;
    margin:2px 0;
  }
}