.floating-astronaut {
  position: fixed;
  right: 30px;
  top: 50%; 
  width: 35%;
  pointer-events: none;
  transform: translateY(-50%) scaleX(-1); 
  z-index: 999;
  animation: float 3s ease-in-out infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(-52%) scaleX(-1);
  }
  to {
    transform: translateY(-48%) scaleX(-1);
  }
}