.floating-astronaut {
  position: absolute;
  right: 30px;
  top: 50%; 
  width: 25%;
  pointer-events: none;
  z-index: 999;

  transform: translateY(-50%) scaleX(-1) scale(1);
  animation: float 3s ease-in-out infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(-52%) scaleX(-1) scale(1);
  }
  to {
    transform: translateY(-48%) scaleX(-1) scale(1);
  }
}


.floating-astronaut.returning {
  animation: returnToCockpit 2.8s ease-in forwards;
}


@keyframes returnToCockpit {
  0% {
    transform: translateY(-50%) scaleX(-1) scale(1);
    opacity: 1;
  }

  40% {
    transform: translateY(-55%) scaleX(-1) scale(0.8);
    opacity: 0.8;
  }

  70% {
    transform: translateY(-65%) scaleX(-1) scale(0.4);
    opacity: 0.4;
  }

  100% {
    transform: translateY(-80%) scaleX(-1) scale(0.1);
    opacity: 0;
  }
}