.dashboard {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding:10px;
  align-items: center;
  border-top: 4px solid #333;
  background: linear-gradient(to top, #111, #1e293b);
  box-shadow: inset 0 10px 30px rgba(0,0,0,0.8);

}
.frontGlass {
  width: 80%;
  height: 35vh;
  margin: 30px auto 30px auto;
  border-radius: 40px;
  padding: 15px;
  background: linear-gradient(145deg, #111827, #1f2937),transparent 60%;
  box-shadow:
    inset 0 0 30px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 255, 255, 0.1);
}


.cockpit {
  transform: rotateX(15deg);
  width: 100%;
  background: linear-gradient(
    to bottom,
    #0a0f1c,
    #111827 40%,
    #0a0f1c
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background: radial-gradient(
    circle at center,
    #1f2937 0%,
    #0f172a 60%,
    #020617 100%
  );
  cursor:none;
}
.title {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 4px;
  color: #00f2ff;
  text-transform: uppercase;
  position: relative;
  border: #00f2ff 1px solid;
  border-radius: 2px;
  padding: 2px;
  animation: blink 2s infinite alternate;
  text-shadow: 0 0 6px #00f2ff, 0 0 12px #00f2ff;
  margin-left:4px;
  margin-right: 4px;
}

@keyframes blink {
  0% {
    opacity: 1;
    text-shadow: 0 0 6px #00f2ff, 0 0 12px #00f2ff;
  }
  100% {
    opacity: 0.6;
    text-shadow: 0 0 2px #00f2ff, 0 0 4px #00f2ff;
  }
}

@media (max-width: 768px) {

  .dashboard {
    width: 90%;
    height: auto;
    margin: 20px auto;
  }
}


@media (max-width: 480px) {
  .dashboard {
    width: 90%;
    height: auto;
    margin: 15px auto;
  }
}
