html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

/* Remove body background so pages control their own */
body {
  margin: 0;
  
  background: black;
  cursor:none;
}

/* REMOVE this entirely */
#root {
  height: 100%;
  width: 100%;
}
